component/page/controller/schema-scxml/scxml-attribs.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.1.1926 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import schemaLocation="http://www.w3.org/2001/xml.xsd" namespace="http://www.w3.org/XML/1998/namespace">
		<xsd:annotation>
			<xsd:documentation>
                                This import brings in the XML namespace attributes
                                The module itself does not provide the schemaLocation
                                and expects the driver schema to provide the
                                actual SchemaLocation.
                  </xsd:documentation>
		</xsd:annotation>
	</xsd:import>
	<xsd:include schemaLocation="scxml-datatypes.xsd">
		<xsd:annotation>
			<xsd:documentation>
                                This include  brings in the SCXML datatypes.
                        </xsd:documentation>
		</xsd:annotation>
	</xsd:include>
	<xsd:annotation>
		<xsd:documentation>
      This is the XML Schema common attributes for SCXML
    </xsd:documentation>
		<xsd:documentation source="scxml-copyright.xsd" />
	</xsd:annotation>
	<xsd:attributeGroup name="Fetchtimeout.attrib">
		<xsd:annotation>
			<xsd:documentation>Used in Cache.attribs</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="fetchtimeout" type="Duration.datatype" />
	</xsd:attributeGroup>
	<xsd:attributeGroup name="Maxage.attrib">
		<xsd:annotation>
			<xsd:documentation>Used in Cache.attribs</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="maxage" type="Integer.datatype" />
	</xsd:attributeGroup>
	<xsd:attributeGroup name="Maxstale.attrib">
		<xsd:annotation>
			<xsd:documentation>Used in Cache attribs</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="maxstale" type="Integer.datatype" />
	</xsd:attributeGroup>
	<xsd:attributeGroup name="Cache.attribs">
		<xsd:annotation>
			<xsd:documentation>Cache attributes to control caching behavior</xsd:documentation>
		</xsd:annotation>
		<xsd:attributeGroup ref="Fetchtimeout.attrib" />
		<xsd:attributeGroup ref="Maxage.attrib" />
		<xsd:attributeGroup ref="Maxstale.attrib" />
	</xsd:attributeGroup>
</xsd:schema>
