component/page/controller/schema-scxml/scxml-module-anchor.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.0.1.1926 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="scxml-datatypes.xsd">
		<xsd:annotation>
			<xsd:documentation>
                                This module defines SCXML Attribute DataTypes
                        </xsd:documentation>
		</xsd:annotation>
	</xsd:include>
	<xsd:include schemaLocation="scxml-attribs.xsd">
		<xsd:annotation>
			<xsd:documentation>
                                This module defines Common attributes for SCXML
                        </xsd:documentation>
		</xsd:annotation>
	</xsd:include>
	<xsd:include schemaLocation="scxml-contentmodels.xsd">
		<xsd:annotation>
			<xsd:documentation>
                This module defines Common content model extensions  for SCXML
            </xsd:documentation>
		</xsd:annotation>
	</xsd:include>
	<xsd:annotation>
		<xsd:documentation>
                        This is the XML Schema anchor module for SCXML
                        * anchor
                        The anchor module defines these elements and their
                        attributes.
                </xsd:documentation>
		<xsd:documentation source="scxml-copyright.xsd" />
	</xsd:annotation>
	<!-- -->
	<!-- anchor -->
	<xsd:attributeGroup name="scxml.anchor.attlist">
		<xsd:attribute name="type" type="xsd:NMTOKEN" use="required" />
		<xsd:attribute name="snapshot" type="LocLang.datatype" />
		<xsd:attributeGroup ref="scxml.extra.attribs" />
	</xsd:attributeGroup>
	<xsd:group name="scxml.anchor.content">
		<xsd:sequence>
			<xsd:group minOccurs="0" maxOccurs="unbounded" ref="scxml.extra.content" />
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="scxml.anchor.type">
		<xsd:group ref="scxml.anchor.content" />
		<xsd:attributeGroup ref="scxml.anchor.attlist" />
	</xsd:complexType>
	<xsd:element name="anchor" type="scxml.anchor.type" />
	<!-- Added this in because it should be defined here and used in the profiles. -->
	<xsd:simpleType name="Anchor.datatype">
		<xsd:annotation>
			<xsd:documentation>
                                This defines the Anchor data type to be used for the transition element. 
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN" />
	</xsd:simpleType>
</xsd:schema>
